<?xml version="1.0"?>
<launch>

  <include file="$(find manipulator_h_moveit_config)/launch/demo.launch"/>

  <node name="manipulator_h_planning_scene_ros_api_tutorial" pkg="manipulator_h_path_planning" type="manipulator_h_planning_scene_ros_api_tutorial" respawn="false" output="screen" />

</launch>
