<?xml version="1.0"?>
<launch>

  <!-- Load the robot's joint names into the ROS parameter server -->
  <rosparam command="load" file="$(find husky_manipulator_h_moveit_config)/config/joint_names.yaml"/>

  <!-- Load the URDF, SRDF and other .yaml configuration files on the param server -->
  <include file="$(find husky_manipulator_h_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!-- Publish joint states in the "/robotis_manipulator_h/joint_states" topic, since we now have a real robot simulated in Gazebo -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
    <rosparam param="/source_list">[/robotis_manipulator_h/joint_states]</rosparam>
  </node>

  <!-- Given the published joint states, publish tf for the robot links -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find husky_manipulator_h_moveit_config)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true"/>
  </include>
 
  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find husky_manipulator_h_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>
